header{
    background-image: url(./img/div.swiper-slide\ \(1\).png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}
h1{
    font-size: 40px;
}
h3{
    font-style: 30px;
}
footer{
    background-image: url(./img/image_2023-10-06_16-26-01\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    width: 100%;
}
